{:lein           {:profile "cljs"}
 :builds         {:main {:target           :browser
                         :output-dir       "resources/public/js/main"
                         :asset-path       "/js/main"

                         :modules          {:app {:entries [dev-nba.core]}}

                         :devtools         {:http-root          "resources/public"
                                            :http-resource-root "resources/public"
                                            ; Using the figwheel port!
                                            :http-port          3449
                                            :preloads [devtools.preload
                                                       fulcro.inspect.preload
                                                       general.user]}}}}
